.user-profile {
  width: 150px;
  height: 150px;
  border-radius: 90px;
  border: solid #3f51b5;
}

.table-container {
      display: flex;
      justify-content: center; /* centers the table */
      margin-top: 20px;
    }

    .custom-table {
      width: 70%; 
      border-collapse: collapse;
      background: white;
      table-layout: fixed; /* ensures equal column widths */
    }

    .custom-table td {
      width: 50%; /* 2 equal columns */
      padding: 12px;
      font-size: 14px;
      color: #333;
      text-align: center;
      border: 1px solid #ccc;
    }

    .custom-table tr:hover {
      background: #f9f9f9;
      cursor: pointer;
    }
.full-table tr:hover {
  background: #f9f9f9;
  cursor: pointer;
}
