<mat-toolbar color="primary">
  <button
    routerLink="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu_book</mat-icon>
  </button>
  <span>Exam Portal</span>
  <span class="example-spacer"></span>
  @if (loginService.isUserLoggedIn()) {
      <span style="font-size: 15px; margin-right: 14px;">
    {{ loginService.getUserDataFromLocalStorage().firstName +' '+ loginService.getUserDataFromLocalStorage().lastName  }}
  </span>
  <button (click)="logout()" mat-button>Logout</button>

  }@else {
  <button routerLink="/login" mat-button>Login</button>
  <button routerLink="/signup" mat-button>Register</button>
  }
</mat-toolbar>
